
<app-card [hidHeader]="true">
  <div class="row tableheader">
    <div class="col-sm-8">
        <i class="material-icons search-icon searchIcon">search</i>
        <input matInput  (keyup)="applyFilter($event.target.value)"  type="text" name="search" placeholder="{{checkSearchLabel}}" [(ngModel)]="searchOption"></div>
    <div class="col-sm-4" >
        <button *ngIf="checkIsAdmin !== true" mat-raised-button color="primary" class="buttonLeft" (click)="openDialog('','add')">
        Add Request
     </button>
    </div>
    </div>
  
  <br>
  <br>
  
<mat-accordion class="example-headers-align"> 
<mat-expansion-panel *ngFor="let parcel of dataSource.data" >
  <mat-expansion-panel-header >
    <mat-panel-title >
      {{parcel.EmployeeName}}
    </mat-panel-title>
    <mat-panel-description >
      Employee ID : {{parcel.Employeeid}}
      <ng-container  *ngFor="let details of parcel.RequestdetailModelongrid ; let i = index" >
        <i *ngIf="checkIsAdmin !== true"  class="material-icons" style="cursor: pointer;margin-left: 82%;" (click)="openDialog(parcel,'edit')" [hidden]="details.Status !== 'Pending'">mode_edit</i>
        <i *ngIf="checkIsAdmin !== true"  class="material-icons" (click)="delete(parcel.Requestid)" style="cursor: pointer;" [hidden]="details.Status !== 'Pending'">delete </i>
      </ng-container>
     
    </mat-panel-description>
  </mat-expansion-panel-header >
 
 <br>

  <div class="row material2">
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tt of parcel.RequestdetailModelongrid ; let i = index">
            <td>
                {{tt.ProductName}}
            </td>
            <td>
                {{tt.Quantity}}
            </td>
            <td *ngIf="checkIsAdmin !== true  " >
               {{tt.Status}}
            </td>
            <td *ngIf="checkIsAdmin === true && tt.Status !== 'delivered'"  >
              <mat-radio-group aria-label="Select an option" (change) ="radioChange($event.value,parcel,tt.Requestdetailid)" >
                <mat-radio-button value="Pending" [checked]="tt.Status === 'Pending'" [hidden]="tt.Status == 'Pending' || tt.Status == 'Approved' || tt.Status == 'Out of Stock' || tt.Status == 'delivered'">Pending</mat-radio-button>&nbsp;
                <mat-radio-button value="Approved" [hidden]="tt.Status == 'delivered'" [checked]="tt.Status === 'Approved'">Approved</mat-radio-button>&nbsp;
                <mat-radio-button value="Out of Stock" [hidden]="tt.Status=== 'Approved' || tt.Status == 'delivered'" [checked]="tt.Status === 'Out of Stock'" >Out of Stock</mat-radio-button>
              </mat-radio-group>
              {{chooseStatus}}
           </td>
           <td *ngIf= "tt.Status === 'delivered' && checkIsAdmin === true" style="color: darkgreen;" >
             Delivered
           </td>
          </tr>
         </tbody>
      </table>
    </div>
 </mat-expansion-panel>
</mat-accordion>
</app-card>