<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div id="divErrorSuccessMessage" class="alert alert-danger hidden">
        <strong>{{strongMessage}}</strong> {{eventMessage}}
      </div>
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/Synerzip Arrow" alt="" class="img-fluid mb-4"> -->
            <img id="main-logo" src="assets/images/Synerzip Arrow.png" alt="" class="logo" style="width: 12%;">&nbsp;<span style="font-size: medium; font-weight: bolder;">Hr</span>&nbsp;<span style="font-size: medium;
      font-weight: 550;">Inventory</span>
      <br>
      <br>
      <br>
           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email address"  [(ngModel)]="loginObj.userName">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="loginObj.password">
            </div>
            <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
              </div>
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="signIn()">Signin</button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
