/* You can add global styles to this file, and also import other style files */

@import "scss/style";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/******************
Snackbar
******************/
.snackbar-alert-success{
    background-color: #147729bf!important;
    color: #ffffff!important;
    border-color: #c3e6cb;
    margin: 77px !important;
  }
  
  .snackbar-alert-info{
    background-color: #0c5460!important;
    color: #d1ecf1!important;
    border-color: #bee5eb;
    margin: 77px !important;
  }
  
  .snackbar-alert-danger{
  background-color: #721c24!important;
  color: #f8d7da!important;
  border-color: #f5c6cb;
  margin: 77px !important;
  }
  
  .snackbar-alert-warning{
    background-color: #856404!important;
    color: #fff3cd!important;
    border-color: #ffeeba;
    margin: 77px !important;
  }
  /******************
  Snackbar
  ******************/
  .cdk-overlay-container {
    z-index: 3000 !important;
  }


  