<!-- order-card start -->
<div class ="row">
<div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Total Purchase</h6>
      <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>486</span></h2>
      <p class="m-b-0">Completed Orders<span class="float-right">351</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Delivered</h6>
      <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>1641</span></h2>
      <p class="m-b-0">This Month<span class="float-right">213</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Total Request</h6>
      <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>$42,562</span></h2>
      <p class="m-b-0">This Month<span class="float-right">$5,032</span></p>
    </app-card>
  </div>
</div>
  <!-- order-card end -->
