<!-- order-card start -->
<div class ="row">
<div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Total Purchase</h6>
      <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>{{checkTotalPurchaseCount}}</span></h2>
      <p class="m-b-0">This Month<span class="float-right">{{checkCurruntMonthCount}}</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Delivered</h6>
      <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>{{checkTotalDispatchToEmployeeCount}}</span></h2>
      <p class="m-b-0">This Month<span class="float-right">{{checkDiapatchToEmployeeCurruntMonthCount}}</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Total Request</h6>
      <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>{{checkTotalRequestCount}}</span></h2>
      <p class="m-b-0">This Month<span class="float-right">{{checkRequestCurruntMonthCount}}</span></p>
    </app-card>
  </div>

  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">Total Pending Request</h6>
      <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>{{checkRequestPendingCount}}</span></h2>
      <p class="m-b-0">This Month<span class="float-right">{{checkRequestPendingCurruntMonth}}</span></p>
    </app-card>
  </div>
  <div class="col-md-12">
    <app-card cardTitle="Product Stock Monitor" [hidHeader]="false" cardClass="table-card" blockClass="p-0">
      <perfect-scrollbar [style.max-height]="'362px'">
        <table class="table table-hover m-b-0">
          <thead>
            <tr>
              <th><span>Product Name</span></th>
              <th>
                <span>Currunt Stock
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let details of stockMonitoringData ; let i = index">
              <td>{{details.productname}}</td>
              <td>  {{details.balance}}
                <div class="mt-1">
                  <section class="example-section">
                    <mat-progress-bar
                        class="example-margin"
                        [color]="details.balance >= 200 ? 'primary' : 'warn'"
                        [mode]="determinate"                     
                        [value]="details.balance"
                       
                       >
                    </mat-progress-bar>
                  </section>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>
    </app-card>
  </div>
</div>

 <!-- customer overview start -->
 
  <!-- order-card end -->
