table {
  width: 100%!important;
  border: 1px solid #f5f5f5 !important;
}

.mat-elevation-z8{
  box-shadow :none !important;
}

table th {
  font-size: medium!important;
  font-weight: bold !important;
}

.tableheader {
  align-items: center;
  border-color: #e6e9ed;
  background-color: #ebebee;
  height: 70px;
}

.tableheader h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #5b626b;
}

.centerText{
  position: relative;
  top: 50%;
}

input[type=text] {
  font-weight: 500;
  color: rgba(0,0,0,.54);
  border-radius: 25px;
  border: 0;
  height: 45px;
  padding: 8px 8px 8px 50px;
  width: 350px;
  background: #fff;
  transition: background .2s,width .2s;
}

input[type=text]:focus {
  width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.searchIcon {
  position: absolute;
  top: 10px;
  padding-left: 10px;
  color: rgba(0,0,0,.54);
}

.buttonLeft{
  float: right;
  border-radius: 20px !important;
}

tr:not(.example-expanded-row ):hover {
  background: #d3d3d3;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.customButton{
   border-radius: 20px !important;
}
