<h2 mat-dialog-title>New Category</h2>
<hr>
<div class="form-container">
    <div class="row">
        <div class="col-sm-6 ">
            <mat-form-field>
            <input matInput placeholder="Category Name">
            </mat-form-field>
        </div>
       
    </div>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Category Description"></textarea>
    </mat-form-field>
    <br>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close mat-raised-button color="warn" class="customButton" >Cancel</button>
        <button mat-button [mat-dialog-close]="true" mat-raised-button color="primary" class="customButton" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
    
  </div>
  